
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}

.container{
  max-width: 80%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

/* -------------------HEADER--------------------- */

header{
  padding: 20px 0;
}
header ul{
  display: inline-block;
}
header ul li{
  display: inline-block;
  margin-left: 30px;
}
header ul li a{
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover{
  color: #38d16a;
  font-weight: 500;
}
.HeaderIcon{
  margin-left: 20px;
  transition: 0.5s;
}

.navbar-items-icon{
  color: #000;
  display: none;
}

header.active{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 28px 0 rgba(0 0 0 / 6%);
  width: 100%;
  z-index: 10;
}


@media screen and (max-width: 768px) {
  header .icon{
    display: none;
  }
  .nav-links{
    display: none;
  }

  .nav-links-sidebar{
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50px;
    top: 75px;
    transition: 0.5s;
    width: 100%;
    height: 30vh;
    z-index: 5;
  }
  
  .nav-links-sidebar{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li{
    margin-bottom: 30px;
  }

  .navbar-items-icon{
    display: block;
    position: absolute;
    right: 30px;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
  }

}



/* -------------------HEADER--------------------- */



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
